@model IEnumerable<Sports.Product>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Products</h2>

  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProName)
            </th>
            <th>
                Product Pic
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>

            <th>Buy</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProName)
                </td>

                <td>
                    <img src="@Url.Content("~/Images/"+item.ProPic)"
                         style="height:200px;width:200px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                   
                    @Html.ActionLink("Add To Cart", "OrderNow", "Cart", new { id = item.ProId }, null)
                </td>

              
            </tr>
        }

    </table>


